* {
  margin:             0px;
  padding:            0px;
}

body {
  font:				        62.5% arial, verdana, sans-serif;
  background-color:	  #dfdfdf;
  margin-bottom:      50px;
  margin-top:         0px;
  color:              #333;
}

a {
  text-decoration:    none;
}
a:hover {
  text-decoration:    underline;
}

img {
  border:             none;
  display:            block;
}

ul {
  list-style-type:    none;
}

p {
  margin-bottom:      10px;
}

h1 {
  position: relative;
  color: #fff;
  line-height: 100px;
  margin-left: 20px;
}
h1 span {
  font-size: 3em;
  font-family: Times new roman, serif;
}
h1 div {
  position: absolute;
  top: 50px;
  left: 20px;
  font-family: Cabin;
  font-size: 1.5em;
  color: #cbcbcb;
}
h2 {
  clear: both;
}

div#header {
  background: #303233;
  height: 160px;
}

div#breadcrumb {
  background: #242526;
  height: 30px;
}

div#content {
  background: #fff;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
}

div#footer {
  background: #d1d1d1;
  height: 30px;
  clear: both;
}

div#breadcrumb ul {
  margin-left: 20px;
}
div#breadcrumb ul li {
  display: inline;
  line-height: 30px;
}
div#breadcrumb ul li, div#breadcrumb ul li a {
  color: #cbcbcb;
}
div#breadcrumb ul li span {
    font-size: 1.2em;
}

ul#folderList, ul#imageList {
  clear: both;
}
ul#folderList li, ul#imageList li {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  height: 128px;
  width: 128px;
  float: left;
  margin: 15px 0 0 15px;
  position: relative;
}
ul#folderList li a span, ul#imageList li a span{
  display: block;
  position: absolute;
  bottom: 0px;
  background-color: rgb(200,200,200);
  opacity: 0.6;
  width: 118px;
  padding: 5px;
  overflow: hidden;
  color: #000;
}

div#imageLarge {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  float: left;
  overflow: hidden;
}

div#neigborThumb {
  height: 140px;
  overflow: auto;
}
